<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/webpages/details.css">
</head>
<body>
  <%- include('../partials/navbar2') %>
  <div class="top">
  <h1><%=foundMajor.name%> journies</h1> 
  </div>
  <div class="share">
      <a href="/exp/<%= foundMajor._id %>/new">Share Your Experience in <%= foundMajor.name %></a>
    </div>
    </div>
  </div>
  <div class="exp">
  <% foundExp.forEach((oneExperience)=>{%>
<div class="expboard">
        <h3>Shared by <%=oneExperience.name.first%> <%=oneExperience.name.last%> </h3>
        <h4>University: <%=oneExperience.university%></h4>
        <h4>Tuition Fees: <%= oneExperience.fees%> BHD per semester</h4>
        <p>About the major: <%= oneExperience.aboutMajor%></p>
        <p>Difficulties Faced: <%= oneExperience.challanges%></p>
        <div class="contact">
          <div class="contacttext">
        <h6>Contact me on instagram If you had any more inquiry about the major</h6>
        </div>
        <div class="ig">
        <h6>@<%= oneExperience.contact%></h6>
        </div>
        </div>
</div>
        <% })%>
      </div>
      <%- include('../partials/footer') %>
       
       
</body>
</html>