<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Experience</h1>
    
    <% myExp.forEach((exp)=>{%>
<%if (user){%>
        <% if (user.username === exp.name.username){%>
        <h3>Shared by: <%=exp.name.first%> <%=exp.name.last%> </h3>
        <p>University: <%=exp.university%></p>
        <p>Tuition Fees: <%= exp.fees%> BHD per semester</p>
        <p>About the major: <%= exp.aboutMajor%></p>
        <p>Difficulties Faced: <%= exp.challanges%></p>
        <p>Contact me on instagram If you had any more inquiry about the major</p>
        <p>@<%= exp.contact%></p>
        <form action="/exp/updateExp/<%= exp._id %>" method="get">
    <button type="submit" >Edit your post</button>
    </form>
    
     <form action="/exp/myExp<%= exp._id %>" method="post">
    <button type="submit" >Delete your post</button>
    </form>
        <%}%>
    <%}%>
   <% }) %>
    
</body>
</html>