<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <%- include('../partials/navbar2') %>
    <h1>Update experience</h1>
    <form action="/exp/updateExp/<%= exp._id %>?_method=PUT" method="post">
    <label for="university">University:</label>
  <select name="university" id="university">
      <option value=""disabled selected><%=exp.university%></option>
  <option value="Bahrain Polytechnic">Bahrain Polytechnic</option>
  <option value="University of Bahrain">University of Bahrain</option>
  <option value="Arab Open University">Arab Open University</option>
  <option value="Applied Science University">Applied Science University</option>
  <option value="Gulf University">Gulf University</option>
  <option value="Royal University for Women">Royal University for Women</option>
  <option value="Ahlia University">Ahlia University</option>
  <option value="University of Strathclyde">University of Strathclyde</option>
  <option value="British University of Bahrain">British University of Bahrain</option>
  <option value="American University of Bahrain">American University of Bahrain</option>
  <option value="University College of Bahrain">University College of Bahrain</option>
  <option value="University of Technology Bahrain">University of Technology Bahrain</option>
  </select> <br> <br>

  <!-- fees -->
  <label for="fees">Tuition Fees (per semester):</label>
<input value="<%=exp.fees%>" type="number" name="fees" id="fees" placeholder="BHD"> <br> <br>

<!-- difficulties -->
<label for="challanges">Difficulties Faced :</label>
<textarea name="challanges" id="challanges" rows="2" cols="40"><%=exp.challanges%></textarea> <br> <br>
<!-- about major -->
 <label for="aboutMajor"> About your major:</label>
<textarea name="aboutMajor" id="aboutMajor" rows="2" cols="40"><%=exp.aboutMajor%></textarea> <br> <br>
<!-- contact -->
<label for="contact">Contact:</label>
<input value="<%=exp.contact%>" type="text" name="contact" id="contact" placeholder="Your Instagram Account"> <br> <br>
<!-- submit -->
<button type="submit">Update</button>

</form>
<%- include('../partials/footer') %>
</body>
</html>